<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" [routerLink]="['/']">User Crud Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/visitor']" >Visitors</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" >Sign Up</a>
        </li>
        <li *ngIf="loggedIn()" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" (click)="logout()" >Logout</a>
        </li>
      </ul>
      <form *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" name="email" type="email" placeholder="email here" [(ngModel)]="visitor.email">
        <input class="form-control mr-sm-2" type="password" name="password" placeholder="password here" [(ngModel)]="visitor.password">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
      </form>
      <div *ngIf="loggedIn()">
        <p class="text-light">Welcome {{authService.decodedToken?.unique_name | titlecase}}</p>
      </div>
    </div>
  </nav>