<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-lg-6 col-sm-12">
            <div class="img-wrapper">
                <img src="{{visitor.imageUrl}}" alt="{{visitor.email}}" class="visitor-detail-img">
            </div>
        </div>
        <div class="col-md-8 col-lg-6 col-sm-12">
            <div class="card">
                <h5 class="card-header">{{visitor.email}}</h5>
                <div class="card-body">
                  <h5 class="card-title">{{visitor.country}}, {{visitor.city}}</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
              <button type="button" class="btn btn-primary mt-2" (click)="openModal(template)">Create template modal</button>
        </div>
    </div>
</div>

<!--Modal--> 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
